<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.title %>"></a>
			<% }); %>
		</div>
	<% } %>
    <a class="planAddEvent hide" href="#" data-placement="bottom" data-title="请添加事件" data-toggle="popover" data-content='<input type="text" id="eventtitle" placeholder="事件主题" required="required" data-btn="addAEvent" /><textarea rows="3" placeholder="事件描述" id="eventdescription"></textarea><button class="btn btn-primary btn-mini" id="addAEvent" aria-hidden="true" href="{{daytime}}" data-id=<%= data_day %>>添加事件</button>' data-html="true">添加事件</a>
</div>
